.DS_Store
Thumbs.db

#backend
backend/.env-ORG
backend/node_modules
backend/dist
backend/public/*
backend/!public/logotipos/
backend/.env
backend/.env.test
backend/.env-ORG
backend/certs/certificadoEfi.p12
backend/contacts.csv
backend/package-lock.json
backend/yarn.lock
backend/yarn-error.log
backend/src/config/sentry.js
backend/coverage.data
backend/coverage/

#frontend

frontend/node_modules
frontend/build
frontend/.env
frontend/.env.test
frontend/.DS_Store
frontend/package-lock.json
frontend/yarn.lock
frontend/yarn-error.log